
<div class="container">

  <div class="row">
    <div class="col-12">
      <button class="btn btn-sm btn-secondary"
              routerLink="/scores">
        <i class="fas fa-angle-left"></i> Back to Scoreboard
      </button>
    </div>
  </div>

  <p *ngIf="stillLoading()">Loading...</p>

  <div class="row" *ngIf="!stillLoading()">
    <div class="col-12">

      <div class="row">
        <div class="col-12">
          <h1>{{person.first_name}} {{person.last_name}}</h1>
        </div>
      </div>

      <h4>Win History</h4>
      <div class="row">
        <div class="col-12"
             *ngFor="let voteInfo of pastVoteInfos()">
          <div class="card categoryCard"
               [ngClass]="winnerClass(voteInfo)">
            <div class="card-body px-2 py-1">
              <div class="row no-gutters">
                <div class="col-10 categoryTitle">
                  <span>{{voteInfo.category.name}}</span>
                </div>
                <div class="col-2 categoryPoints px-1">
                  <span *ngIf="voteInfo.isWinner"
                        class="statusIcon winnerIcon">
                    <i class="fas fa-check"></i>
                  </span>
                  <span *ngIf="!voteInfo.isWinner"
                        class="statusIcon loserIcon">
                    <i class="fas fa-times"></i>
                  </span>
                  <span>{{voteInfo.category.points}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h4>Upcoming</h4>
      <div class="row no-gutters">
        <div class="col-12"
             *ngFor="let voteInfo of futureVoteInfos()">
          <div class="card categoryCard">
            <div class="card-body px-2 py-1">
              <div class="row no-gutters">
                <div class="col-11 categoryTitle">
                  <span>{{voteInfo.category.name}}</span>
                </div>
                <div class="col-1 categoryPoints px-1">
                  <span>{{voteInfo.category.points}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>



</div>
