<div class="container">
  <div class="row" *ngIf="auth.isAdmin() && !stillLoading()">

    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card navCard" (click)="toggleVotingLock()">
        <div class="card-body">
          <div class="row">
            <div class="col-10 navTitle">
              <span>{{getVotingHeader()}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card navCard">
        <div class="card-body"
             routerLink="/odds">
          <div class="row">
            <div class="col-10 navTitle">
              <span>Input Odds</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">

      <span>Change Year:</span><br>
      <button *ngFor="let year of possibleYears"
              class="btn btn-lg"
              [ngClass]="yearButtonClass(year)"
              (click)="changeCurrentYear(year)">
        {{year}}
      </button>

    </div>

    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card navCard"
           (click)="resetWinners()">
        <div class="card-body">
          <div class="row">
            <div class="col-10"
                 [ngClass]="getWinnersButtonClass()">
              <span>Reset Winners</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
