<div class="container">
  <div class="row mt-2" *ngIf="isAdmin">

    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card navCard p-3">
        Voting:
        <div class="row">
          <div class="col-6">
            <button class="btn btn-lg"
                    [ngClass]="getVotingButtonClass(true) | async"
                    (click)="toggleVotingLock(true)">
              Open
            </button>
          </div>
          <div class="col-6">
            <button class="btn btn-lg"
                    [ngClass]="getVotingButtonClass(false) | async"
                    (click)="toggleVotingLock(false)">
              Closed
            </button>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card navCard">
        <div class="card-body fakeLink"
             routerLink="/odds">
          <div class="row">
            <div class="col-10 navTitle">
              <span>Input Odds</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card navCard p-3">
        <span>Change Year:</span>
        <div class="row">
          <div class="col-6"
               *ngFor="let year of (getPossibleYears(currentYear | async) | async)">
            <button
              class="btn btn-lg"
              [ngClass]="(currentYear | async) === year ? 'btn-success' : 'btn-primary'"
              (click)="changeCurrentYear(year)">
              {{year}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card navCard fakeLink"
           (click)="resetWinners()">
        <div class="card-body">
          <div class="row">
            <div class="col-10"
                 [ngClass]="getWinnersButtonClass()">
              <span>Reset Winners</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card navCard">
        <div class="card-body fakeLink"
             routerLink="/admin/ceremonies">
          <div class="row">
            <div class="col-10 navTitle">
              <span>Ceremonies</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-4">
      <div class="row"
           *ngFor="let scoreDatum of sortedData">
        <div class="col-4">
          {{personNameFormatted(scoreDatum) | async}}
        </div>
        <div class="col-2">
          {{scoreDatum.num_votes}}
        </div>
        <div class="col-6">
          {{personVotedTimeAgo(scoreDatum)}}
        </div>
      </div>
    </div>

  </div>

</div>
