
<div class="container" style="padding: 10px">

  <div class="row">
    <div class="col-12">
      <h1>Live Scoring</h1>
    </div>
  </div>

  <p *ngIf="stillLoading()">Loading...</p>

  <p *ngIf="getVoters().length === 0">
    No players have voted yet!
  </p>

  <div class="row" *ngIf="!stillLoading()">
    <div class="col-12 col-sm-6 col-lg-4"
         *ngFor="let person of getVoters()">
      <div class="card scoreCard">
        <div class="card-body">
          <div class="row">
            <div class="col-8 scoreTitle">
              <span>{{person.first_name}}</span>
            </div>
            <div class="col-4 scorePoints">
              <span>{{person.score}}</span>
              <div class="odds">{{getOddsForPerson(person)}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
