
<div class="container" style="padding: 10px">

  <div class="row">
    <div class="col-12">
      <h1>Live Scoring</h1>
    </div>
  </div>

  <p *ngIf="stillLoading()">Loading...</p>

  <p *ngIf="getVoters().length === 0">
    No players have voted yet!
  </p>

  <div class="row mt-2" *ngIf="!stillLoading()">
    <div class="col-12 col-sm-6 col-lg-4"
         *ngFor="let person of getVoters()">
      <div class="card scoreCard"
           [ngClass]="scorecardClass(person)">
        <div class="card-body py-0 px-3">
          <div class="row no-gutters mainRow">
            <div class="col-5">
              <span>{{person.first_name}}</span>
            </div>
            <div class="col-4">
              <span class="odds oddsSubtitle">Odds</span>
              <span class="odds oddsValue">{{getOddsForPerson(person)}}</span>
            </div>
            <div class="col-3" style="justify-items: right">
              <div class="row no-gutters">
                <div class="col-12 scorePoints px-0"
                     [ngClass]="scoreNumberClass(person)">
                  <span>{{person.score}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
