@import "../../../variables";

.scoreCard {
  font-size: 16pt;
  margin-bottom: 10px;
  border-color: $highlight;
}

.scoreTitle {
  color: white;
}

.scorePoints {
  font-weight: bold;
  color: $highlight;
  text-align: right;
}

.oddsSubtitle {
  font-weight: normal;
  font-size: 10pt;
  color: $muted;
  text-align: right;
}

.odds {
  font-weight: bold;
  font-size: 14pt;
  color: $muted;
  text-align: right;
  margin-left: 4pt;
}
