@use 'sass:color';
@import "../../../variables";

.scoreboard-body {
  padding-top: 10px;
  padding-bottom: 300px;
}

.scoreCard {
  font-size: 16pt;
  margin-bottom: 10px;
}

.otherScoreCard {
  border-color: darken($highlight, 25%);
  color: lighten($highlight, 5%);
  background-color: darken($highlight, 53%);
}

.loserScoreCard {
  border-color: darken($silver, 30%);
  color: $silver;
  background-color: darken($silver, 62%);
}

.eliminatedScoreCard {
  border-color: fade_out(darken($silver, 30%), .7);
  color: fade_out($silver, .5);
  background-color: fade_out(darken($silver, 62%), .5);
}

.myScoreCard {
  background-color: darken($personal, 5%);
  border-color: lighten($personal, 50%);
  color: white;
}

.mainRow {
  display: flex;
  align-items: center;
}

.connectedStatus {
  color: lightgreen;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {color: lightgreen;}
  50%  {color: color.scale(lightgreen, $alpha: -50%);}
  100% {color: lightgreen;}
}

.disconnectedStatus {
  color: gray;
}

.scorePositive {
  font-size: 16pt;
  color: lighten(forestgreen, 20%);
  margin-right: 4px;
}

.scoreText {
  font-weight: bolder;
  font-size: 28pt;
  font-family: "brandon-grotesque", sans-serif;
  -webkit-text-stroke-width: 1.5px;
}

.selectedOddsFilter {
  background-color: #4f1561;
}

.scorePoints {
  text-align: right;
}

.myScorePoints {
  -webkit-text-fill-color: fade_out(white, 0.3); /* Will override color (regardless of order) */
  -webkit-text-stroke-color: white;
}

.otherScorePoints {
  -webkit-text-fill-color: fade_out($highlight, 0.3); /* Will override color (regardless of order) */
  -webkit-text-stroke-color: $highlight;
}

.winnerScorePoints {
  -webkit-text-fill-color: fade_out(lighten(forestgreen, 20%), 0.3); /* Will override color (regardless of order) */
  -webkit-text-stroke-color: lighten(forestgreen, 20%);
}

.eliminatedScorePoints {
  -webkit-text-fill-color: fade_out(darken($silver, 30%), .7); /* Will override color (regardless of order) */
  -webkit-text-stroke-color: fade_out($silver, .5);
}

.loserScorePoints {
  -webkit-text-fill-color: fade_out($silver, 0.3); /* Will override color (regardless of order) */
  -webkit-text-stroke-color: $silver;
}

.odds {
  text-align: right;
  line-height: 100%;
}

.finalPlace {
  text-align: center;
}

.oddsValue {
  font-weight: bold;
  font-size: 14pt;
  margin-left: 4pt;
}

.oddsSubtitle {
  color: $muted;
  font-weight: normal;
  font-size: 10pt;
  margin-top: 2px;
}

.oddsDiff {
  font-weight: bold;
  font-size: 10pt;
}

.goldOdds {
  color: gold;
}

.oddsDiffGood {
  color: lighten(forestgreen, 20%);
}

.oddsDiffBad {
  color: lighten(tomato, 5%);
}

/* BOTTOM PART */

.winnerFooter {
  background-color: desaturate(darkblue, 25%);
  color: lighten(cornflowerblue, 10%);
  border-color: lighten(desaturate(darkblue, 45%), 30%);
  border-width: 2px 0 0 0;
  line-height: 130%
}

.footerInfo {
  font-size: 10pt;
  color: white;
}

.footerTitle {
  font-size: 12pt;
}

.footerTieNotification {
  font-size: 12pt;
  font-weight: bold;
  color: lighten(cornflowerblue, 20%);
}

.footerBig {
  font-size: 24pt;
  font-weight: bolder;
  font-family: "brandon-grotesque", sans-serif;
  font-variant-caps: small-caps;
  color: lighten(cornflowerblue, 20%);
}

.footerSmall {
  font-size: 13pt;
  font-weight: bolder;
  //margin-bottom: 30px;
  font-family: "brandon-grotesque", sans-serif;
  font-variant-caps: small-caps;
}

.footerScore {
  display: grid;
  justify-items: center;
  text-align: center;
  align-items: center;
  font-weight: bolder;
  font-size: 48pt;
  font-family: "brandon-grotesque", sans-serif;
}

.footerWinningScore {
  -webkit-text-fill-color: fade_out(lighten(forestgreen, 20%), 0.25); /* Will override color (regardless of order) */
  -webkit-text-stroke-color: lighten(forestgreen, 20%);
  -webkit-text-stroke-width: 2px;
}

.footerLosingScore {
  -webkit-text-fill-color: fade_out(lighten(tomato, 5%), 0.25); /* Will override color (regardless of order) */
  -webkit-text-stroke-color: lighten(tomato, 5%);
  -webkit-text-stroke-width: 2px;
}
