@import "../../../variables";

.scoreCard {
  font-size: 16pt;
  margin-bottom: 10px;
}

.otherScoreCard {
  border-color: $highlight;
  color: $highlight;
}

.myScoreCard {
  background-color: darken($personal, 5%);
  border-color: white;
  color: white;
}

.mainRow {
  display: flex;
  align-items: center;
}

.scorePoints {
  font-weight: bolder;
  font-size: 28pt;
  text-align: right;
  font-family: "brandon-grotesque", sans-serif;
  -webkit-text-stroke-width: 1.5px;
}

.myScorePoints {
  -webkit-text-fill-color: fade_out(white, 0.3); /* Will override color (regardless of order) */
  -webkit-text-stroke-color: white;
}

.otherScorePoints {
  -webkit-text-fill-color: fade_out($highlight, 0.3); /* Will override color (regardless of order) */
  -webkit-text-stroke-color: $highlight;
}

.odds {
  color: $muted;
  text-align: right;
}

.oddsValue {
  font-weight: bold;
  font-size: 14pt;
  margin-left: 4pt;
}

.oddsSubtitle {
  font-weight: normal;
  font-size: 10pt;
}
