@import "../../../variables";

.categoryCard {
  font-size: 16pt;
  margin-bottom: 10px;
  border-color: $highlight;
}

.categoryTitle {
  font-family: "brandon-grotesque", sans-serif;
  font-variant-caps: small-caps;
  color: lighten(cornflowerblue, 20%);
}

.categorySubtitle {
  font-size: 12pt;
  font-weight: bold;
  color: fade_out(lighten(cornflowerblue, 20%), .3);
  line-height: 120%;
}

.categoryPoints {
  font-weight: bold;
  -webkit-text-fill-color: fade_out(lighten(cornflowerblue, 20%), 0.25); /* Will override color (regardless of order) */
  -webkit-text-stroke-color: lighten(cornflowerblue, 20%);
  -webkit-text-stroke-width: 2px;
  text-align: center;
  line-height: 0.8;
  font-size: 36pt;
  font-family: "brandon-grotesque", sans-serif;
}

.votedOn {
  background-color: darkgreen;
}

.winner {
  background-color: darkblue;
}

.timeAgoDiv {
  line-height: 0.5;
}

.timeAgo {
  font-size: 10pt;
  color: white;
}
