@import "../../../variables";

.categoryCard {
  font-size: 18pt;
  margin-bottom: 10px;
  border-color: $highlight;
}

.categoryTitle {
  color: white;
}

.categoryPoints {
  font-weight: bold;
  color: $highlight;
  text-align: center;
}

.votedOn {
  background-color: darkgreen;
}
