
<div class="container" style="padding: 10px">

  <div class="row">
    <div class="col-12">
      <h2>{{activeContext}}</h2>
    </div>
  </div>

  <p *ngIf="stillLoading()">Loading...</p>
  <p *ngIf="showVotingClosedMessage()">Voting is currently closed!</p>

  <div class="row" *ngIf="showCategories()">
    <div class="col-12 col-sm-6 col-lg-4"
         *ngFor="let category of categories">
      <div class="card categoryCard" [ngClass]="getVotedClass(category)">
        <div class="card-body"
             [routerLink]="[category.id]">
          <div class="row">
            <div class="col-10 categoryTitle">
              <span>{{category.name}}</span>
            </div>
            <div class="col-2 categoryPoints">
              <span>{{category.points}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
