
<div class="container" style="padding: 10px">

  <div class="row"
       *ngIf="winnersMode()">
    <div class="col-12">
      <button class="btn btn-sm btn-secondary"
              routerLink="/scores">
        <i class="fas fa-angle-left"></i> Back to Scoreboard
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>{{activeContext}}</h2>
    </div>
  </div>

  <p *ngIf="stillLoading()">Loading...</p>
  <p *ngIf="showVotingClosedMessage()">Voting is currently closed!</p>

  <div class="row" *ngIf="showCategories()">
    <div class="col-12 col-sm-6 col-lg-4"
         *ngFor="let category of categories">
      <div class="card categoryCard" [ngClass]="getVotedClass(category)">
        <div class="card-body fakeLink categoryCardBody"
             [routerLink]="[category.id]">
          <div class="row no-gutters timeAgoDiv"
               *ngIf="!!mostRecentWinDate(category)">
            <div class="col-12 py-0">
              <span class="timeAgo">{{getTimeAgo(category)}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-10 categoryTitle">
              <div class="row">
                <div class="col-12">
                  {{getCategoryName(category)}}
                </div>
              </div>
              <div class="row">
                <div class="col-12 categorySubtitle"
                     *ngIf="getCategorySubtitle(category)">
                  {{getCategorySubtitle(category)}}
                </div>
              </div>
              <div class="row"
                   *ngFor="let winner of category.winners">
                <div class="col-12 winnerTitle">
                  {{getWinnerName(winner)}}
                </div>
                <div class="col-12 winnerSubtitle"
                     *ngIf="!!getWinnerSubtitle(winner, category)">
                  {{getWinnerSubtitle(winner, category)}}
                </div>
              </div>
            </div>
            <div class="col-2 categoryPoints">
              <span>{{category.points}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
