
<div class="container" style="padding: 10px">

  <div class="row"
       *ngIf="winnersMode()">
    <div class="col-12">
      <button class="btn btn-sm btn-secondary"
              routerLink="/scores">
        <i class="fas fa-angle-left"></i> Back to Scoreboard
      </button>
    </div>
  </div>

  <div class="row" *ngIf="!!me">
    <div class="col-12">
      <h1>{{getPageTitle()}}</h1>
    </div>
  </div>

  <p *ngIf="stillLoading()">Loading...</p>
  <p *ngIf="showVotingClosedMessage()">Voting is currently closed!</p>


  <div class="row" *ngIf="showCategoriesWithWinners$() | async">

    <div class="col-12">
      <span class="sectionHeader">WINNERS</span>&nbsp;
      <span class="fakeLink hideLink"
            (click)="toggleShowWinners()">{{hideShowLink(showWinners)}}
      </span>
    </div>

    <div *ngIf="showWinners" class="col-12">
      <div class="row">
        <div class="col-12"
             *ngFor="let category of getCategoriesWithAtLeastOneWinner$() | async">

          <!-- CATEGORY CARD -->

          <div class="card categoryCard" [ngClass]="getVotedClass(category) | async">
            <div class="card-body fakeLink categoryCardBody"
                 [routerLink]="getRouterLink(category)">

              <!-- TIME AGO -->

              <div class="row no-gutters timeAgoDiv"
                   *ngIf="!!mostRecentWinDate(category)">
                <div class="col-12 py-0">
                  <span class="timeAgo">{{getTimeAgo(category)}}</span>
                </div>
              </div>

              <div class="row">
                <div class="col-10 categoryTitle">

                  <!-- CATEGORY NAME -->

                  <div class="row py-1">
                    <div class="col-12">
                      {{getCategoryName(category)}}
                    </div>
                    <div class="col-12 categorySubtitle"
                         *ngIf="getCategorySubtitle(category)">
                      {{getCategorySubtitle(category)}}
                    </div>
                  </div>

                  <!-- WINNER -->

                  <div class="row py-1"
                       *ngFor="let winner of category.winners">
                    <div class="col-12 pickTitle winnerTitle">
                      {{getWinnerName(winner) | async}}
                    </div>
                    <div class="col-12 winnerSubtitle"
                         *ngIf="!!(getWinnerSubtitle(winner, category) | async)">
                      {{getWinnerSubtitle(winner, category) | async}}
                    </div>
                  </div>

                  <!-- YOUR PICK -->

                  <div class="row py-1"
                       *ngIf="showMyPick(category)">
                    <div class="col-12 pickHeader incorrectPickHeader">
                      Your Pick:
                    </div>
                    <div class="col-12 pickTitle personPickTitle incorrectPick">
                      {{myPickName(category) | async}}
                    </div>
                  </div>

                </div>

                <!-- POINTS -->

                <div class="col-2 categoryPoints"
                     [ngClass]="getMyWinnerScoreClass(category)">
                  <span>{{category.points}}</span>
                </div>
              </div>

              <!-- PERSON DETAIL COMPARISON -->

              <div class="row py-1"
                   *ngIf="winnersMode() && !personIsMe() && (wePickedTheSame(category) | async)">
                <div class="col-12 pickHeader"
                     [ngClass]="personPickHeaderClass(person, category) | async">
                  {{bothPersonsDisplayName()}}
                </div>
                <div class="col-12 pickTitle personPickTitle"
                     [ngClass]="personPickClass(person, category) | async">
                  {{personPickName(category) | async}}
                </div>
              </div>

              <div class="row py-1 no-gutters"
                   *ngIf="winnersMode() && !personIsMe() && !(wePickedTheSame(category) | async)">
                <!-- YOUR SIDE PICK -->
                <div class="col-6">
                  <div class="row">
                    <div class="col-12 pickHeader"
                         [ngClass]="personPickHeaderClass(me, category) | async">
                      {{myDisplayName()}}
                    </div>
                    <div class="col-12 pickTitle personPickTitle"
                         [ngClass]="personPickClass(me, category) | async">
                      {{myPickName(category) | async}}
                    </div>
                  </div>
                </div>
                <!-- THEIR SIDE PICK -->
                <div class="col-6">
                  <div class="row">
                    <div class="col-12 pickHeader"
                         [ngClass]="personPickHeaderClass(person, category) | async">
                      {{personDisplayName()}}
                    </div>
                    <div class="col-12 pickTitle personPickTitle"
                         [ngClass]="personPickClass(person, category) | async">
                      {{personPickName(category) | async}}
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- END CARD -->

        </div>
      </div>
    </div>

  </div>

  <div class="row" *ngIf="showCategoriesWithNoWinners$() | async">

    <div class="col-12"
         *ngIf="winnersMode()">
      <span class="sectionHeader">UPCOMING</span>&nbsp;
      <span class="fakeLink hideLink"
            (click)="toggleShowWinnerless()">{{hideShowLink(showWinnerless)}}
      </span>
    </div>

    <div class="col-12"
         *ngIf="showWinnerless">
      <div class="row">
        <div class="col-12"
             *ngFor="let category of getCategoriesWithNoWinner$() | async">

          <!-- CATEGORY CARD -->

          <div class="card categoryCard" [ngClass]="getVotedClass(category) | async">
            <div class="card-body fakeLink categoryCardBody"
                 [routerLink]="[category.id]">

              <!-- TIME AGO -->

              <div class="row no-gutters timeAgoDiv"
                   *ngIf="!!mostRecentWinDate(category)">
                <div class="col-12 py-0">
                  <span class="timeAgo">{{getTimeAgo(category)}}</span>
                </div>
              </div>

              <div class="row">
                <div class="col-10 categoryVotingTitle">

                  <!-- CATEGORY NAME -->

                  <div class="row py-1">
                    <div class="col-12">
                      {{getCategoryName(category)}}
                    </div>
                    <div class="col-12 categoryVotingSubtitle"
                         *ngIf="getCategorySubtitle(category)">
                      {{getCategorySubtitle(category)}}
                    </div>
                  </div>

                  <!-- YOUR PICK -->

                  <div class="row py-1"
                       *ngIf="showPersonPick(category) | async">
                    <div class="col-12 neutralPickHeader">
                      {{personPossessiveDisplayName()}} Pick:
                    </div>
                    <div class="col-12 pickTitle personPickTitle neutralPick">
                      {{personPickName(category) | async}}
                    </div>
                  </div>

                </div>

                <!-- POINTS -->

                <div class="col-2 categoryPoints neutralScore">
                  <span>{{category.points}}</span>
                </div>
              </div>


              <!-- PERSON DETAIL COMPARISON -->

              <div class="row py-1"
                   *ngIf="winnersMode() && !personIsMe() && (wePickedTheSame(category) | async)">
                <div class="col-12 pickHeader"
                     [ngClass]="personPickHeaderClass(person, category) | async">
                  {{bothPersonsDisplayName()}}
                </div>
                <div class="col-12 pickTitle personPickTitle"
                     [ngClass]="personPickClass(person, category) | async">
                  {{personPickName(category) | async}}
                </div>
              </div>

              <div class="row py-1 no-gutters"
                   *ngIf="winnersMode() && !personIsMe() && !(wePickedTheSame(category) | async)">
                <!-- YOUR SIDE PICK -->
                <div class="col-6">
                  <div class="row">
                    <div class="col-12 pickHeader"
                         [ngClass]="personPickHeaderClass(me, category) | async">
                      {{myDisplayName()}}
                    </div>
                    <div class="col-12 pickTitle personPickTitle"
                         [ngClass]="personPickClass(me, category) | async">
                      {{myPickName(category) | async}}
                    </div>
                  </div>
                </div>
                <!-- THEIR SIDE PICK -->
                <div class="col-6">
                  <div class="row">
                    <div class="col-12 pickHeader"
                         [ngClass]="personPickHeaderClass(person, category) | async">
                      {{personDisplayName()}}
                    </div>
                    <div class="col-12 pickTitle personPickTitle"
                         [ngClass]="personPickClass(person, category) | async">
                      {{personPickName(category) | async}}
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>

          <!-- END CARD -->

        </div>
      </div>
    </div>

  </div>

</div>
