<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="navbar-text">
    <h1>
      {{category.name}}
    </h1>
  </div>
</nav>

<nav class="navbar navbar-expand navbar-dark bg-dark fixed-bottom justify-content-center">
  <osc-category-hopper [next]="nextCategory"
                       [prev]="previousCategory">
  </osc-category-hopper>
</nav>

<div class="nom-body">

  <div class="container" style="padding-top: 10px">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4"
      *ngFor="let nominee of nominees">

        <div class="card nomineeCard">
          <div class="card-body">
            <div class="row">
              <div class="col-12 nomineeName">
                {{nominee.name}}
              </div>
            </div>
            <div class="row" *ngIf="nominee.subtitle">
              <div class="col-12 nomineeSubtitle">
                {{nominee.subtitle}}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
