<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="navbar-text">
    <h1>
      {{getHeaderText()}}
    </h1>
  </div>
</nav>

<nav class="navbar navbar-expand navbar-dark bg-dark fixed-bottom justify-content-center hopper">
  <osc-category-hopper [next]="nextCategory"
                       [prev]="previousCategory"
                       [nominees]="nominees"
                       [activeContext]="activeContext">
  </osc-category-hopper>
</nav>

<div class="nom-body">

  <div class="container" style="padding-top: 10px">

    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4"
           *ngFor="let nominee of getNominees()">

        <div class="card nomineeCard"
             [ngClass]="getVotedClass(nominee)"
             (click)="submitVote(nominee)" >
          <div class="card-body nomineeCardBody">

            <div class="row align-items-center">

              <div class="col-9">
                <div class="row">
                  <div class="col-12 nomineeName">
                    {{getMainLineText(nominee)}}
                  </div>
                </div>
                <div class="row" *ngIf="nominee.context">
                  <div class="col-12 nomineeSubtitle">
                    {{getSubtitleText(nominee)}}
                  </div>
                </div>
              </div>

              <div class="col-3" *ngIf="winnersMode()">
                <div class="voterName"
                     *ngFor="let voter of personsForNominee(nominee)"
                     [ngClass]="getVoterClass(voter)">
                  {{voter.first_name}}
                </div>
              </div>
            </div>

            <div class="row align-items-center inputRow" *ngIf="oddsMode()">

              <div class="col-3">
                <div class="row">
                  <label class="col-form-label col-form-label-sm cardLabel"
                         for="numeratorInput">Vegas</label>
                  <input type="number"
                         class="form-control cardInput"
                         style="text-align: center"
                         [(ngModel)]="nominee.odds_numerator"
                         id="numeratorInput"/>
                </div>
              </div>

              <div class="col-3">
                <div class="row" style="padding: 0.4rem 0.4rem">
                  <label class="col-form-label col-form-label-sm cardLabel"
                         for="denominatorInput">V2</label>
                  <input type="number"
                         class="form-control cardInput"
                         style="text-align: center"
                         [(ngModel)]="nominee.odds_denominator"
                         id="denominatorInput"/>
                </div>
              </div>

              <div class="col-3">
                <div class="row">
                  <label class="col-form-label col-form-label-sm cardLabel"
                         for="expertInput">Experts</label>
                  <input type="number"
                         class="form-control cardInput"
                         style="text-align: center"
                         [(ngModel)]="nominee.odds_expert"
                         id="expertInput"/>
                </div>
              </div>

              <div class="col-3">
                <div class="row" style="padding: 0.4rem 0.4rem">
                  <label class="col-form-label col-form-label-sm cardLabel"
                         for="userInput">Users</label>
                  <input type="number"
                         class="form-control cardInput"
                         style="text-align: center"
                         [(ngModel)]="nominee.odds_user"
                         id="userInput"/>
                </div>
              </div>
            </div>

            <div class="row align-items-center inputRow oddsContainer" *ngIf="votingMode()">

              <div class="col-4">
                <div class="row" *ngIf="nominee.odds_numerator">
                  <label class="col-form-label col-form-label-sm cardLabel"
                         for="numeratorInput">Odds</label>
                  <div class="oddsBox">
                    <span>{{nominee.odds_numerator + ':' + nominee.odds_denominator}}</span>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="row" *ngIf="nominee.odds_expert">
                  <label class="col-form-label col-form-label-sm cardLabel"
                         for="expertInput">Experts</label>
                  <div class="oddsBox">
                    <span>{{nominee.odds_expert + '%'}}</span>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="row" *ngIf="nominee.odds_user">
                  <label class="col-form-label col-form-label-sm cardLabel"
                         for="userInput">Users</label>
                  <div class="oddsBox">
                    <span>{{nominee.odds_user + '%'}}</span>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>

