@use 'sass:color';
@import "../../../darkly_variables_oscars";
@import "../../../variables";

.nom-body {
  padding-top: 10px;
  padding-bottom: 120px;
}

.header {
  line-height: 180%;
  font-family: "brandon-grotesque", sans-serif;
  font-variant-caps: small-caps;
  font-weight: bolder;
  padding-top: 7px;
}

.headerMain {
  font-size: 23pt;
}

.headerSubtitle {
  font-size: 16pt;
}

.headerScore {
  font-size: 28pt;
}

.nomineeCard {
  margin-bottom: 10px;
  border-color: $highlight;
}

.nomineeCardBody {
  padding: 0.8rem;
}

.nomineeName {
  font-size: 16pt;
  line-height: 120%;
}

.nomineeSubtitle {
  font-size: 12pt;
  color: $muted;
  line-height: 120%;
}

.songDetail {
  font-size: 11pt;
  font-style: italic;
  color: $highlight;
  line-height: 120%;
}

.votedOn {
  background-color: color.scale($winningScoreColor, $lightness: -25%);
}

.processing {
  background-color: #555522;
}

.winner {
  background-color: color.scale($winnerColor, $lightness: 20%);
}

.voterName {
  font-size: 8pt;
  text-align: right;
  margin-left: 2px;
}

.itsMe {
  color: color.scale($personal, $lightness: 65%);
}

.itsNotMe {
  color: color.scale(white, $alpha: -45%);
}

/* For Firefox */
input[type='number'] {
  -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cardLabel {
  padding-top: 0;
  line-height: 1;
}

.cardInput {
  padding: 0.20rem 0.30rem;
  font-size: 1.10rem;
  font-weight: bold;
  background-color: $gray-850;
  color: white;
}

.inputRow {
  padding: 0 0.8rem;
}

.oddsContainer {
  padding-top: 10px;
}

.oddsBox {
  font-size: 1.1em;
  text-align: center;
  font-weight: 600;
  color: lightgray;
  width: 45px;
  height: 25px;
  border-radius: 3px;
  padding: 0;
  margin-left: 5px;
  background-color: color.scale(black, $alpha: -85%);
}

.oddsBox span {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hopper {
  padding-top: 5px;
  padding-bottom: 10px;
}
