<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="navbar-text">
    <h1>
      {{category.name}}
    </h1>
  </div>
</nav>

<nav class="navbar navbar-expand navbar-dark bg-dark fixed-bottom justify-content-center">
  <osc-category-hopper [next]="nextCategory"
                       [prev]="previousCategory">
  </osc-category-hopper>
</nav>

<div class="nom-body">

<table class="table">
  <thead>
  <tr class="table-primary">
    <th scope="col">Name</th>
    <th scope="col">Subtitle</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let nominee of nominees">
    <td>{{nominee.name}}</td>
    <td>{{nominee.subtitle}}</td>
  </tr>
  </tbody>
</table>

</div>
