@import "../../../variables";

.nom-body {
  padding-bottom: 120px;
}

.nomineeCard {
  margin-bottom: 10px;
  border-color: $highlight;
}

.nomineeCardBody {
  padding: 0.8rem;
}

.nomineeName {
  font-size: 16pt;
}

.nomineeSubtitle {
  font-size: 12pt;
  color: $muted;
}

.cardLabel {
  padding-top: 0;
  line-height: 1;
}

.cardInput {
  padding: 0.20rem 0.30rem;
  font-size: 1.10rem;
  font-weight: bold;
  background-color: #3A3F44;
  color: white;
}

.inputRow {
  padding: 0 0.8rem;
}
