<div class="container" style="padding: 10px">

  <p *ngIf="stillLoading()">Loading...</p>
  <p *ngIf="!stillLoading() && !auth.isUser() && auth.isAuthenticated()">No user account found for this google user. Could your invite be for a different gmail address?</p>
  <p *ngIf="!stillLoading() && auth.isUser()">Welcome to the Oscars 2019, {{auth.getFirstName()}}!</p>
  <p *ngIf="!stillLoading() && !systemVarsService.canVote()">Voting is currently closed, but you can head over to Live Scoring to see how the scores are progressing, or see the final scores.</p>

  <div class="row">

    <div class="col-12 col-sm-6 col-lg-4"
         *ngIf="!stillLoading() && auth.isUser() && systemVarsService.canVote()">
      <div class="card navCard">
        <div class="card-body"
             routerLink="vote">
          <div class="row">
            <div class="col-10 navTitle">
              <span>Submit Votes</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-4"
         *ngIf="!stillLoading() && auth.isAdmin()">
      <div class="card navCard">
        <div class="card-body"
             routerLink="odds">
          <div class="row">
            <div class="col-10 navTitle">
              <span>Input Odds</span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
