<div class="container p-3">

  <div class="alert alert-danger" *ngIf="(auth.error$ | async)">
    <strong>Auth0 Error:</strong> {{auth.error$ | async}}
  </div>

  <div *ngIf="(apiService.emailVerified$ | async) else loading">

    <p>
      Welcome to the Oscars Prediction Arena for {{getOscarYear() | async}} films, {{(me$ | async)?.first_name}}!
    </p>

    <p *ngIf="(hasVotesRemaining() | async) && (systemVarsService.canVote() | async)"
       class="votesRemaining">
      You have {{numVotesRemaining() | async}} categories left to vote on!
    </p>

    <div *ngIf="(systemVarsService.canVote() | async) && (categoryService.itsOver() | async) === false">
      <p>Live Scoring will be viewable on {{oscarDateFormatted}} your local time, when the ballots will lock.</p>
      <p><strong>New in 2021:</strong></p>
      <ul>
        <li>The Academy Awards have combined the Sound Editing and Sound Mixing categories into the <strong>Sound</strong>
          category, reducing the number of categories from 24 to 23.</li>
        <li>Visual site updates</li>
        <li>Platform and stability updates</li>
      </ul>
      <p>And as with last year, your voting screen includes betting odds, expert picks, and metacritic user favorites, as
        found on <a href="https://www.metacritic.com/feature/picks-for-who-will-win-2021-oscars" target="_blank">Metacritic</a>.</p>

      <div class="text-center">
        Oscars Start in:
        <osc-countdown [dDay]="oscarDate"></osc-countdown>
      </div>

    </div>

    <p *ngIf="(systemVarsService.canVote() | async) === false && (categoryService.itsOver() | async) === false">
      Voting is currently closed, but you can head over to Live Scoring to see how the scores are progressing, or see the final scores.
    </p>

    <div *ngIf="(categoryService.itsOver() | async) !== false">
      <p>The champagne has been popped, the trophies handed out and our {{winnerPhrase}} decided!</p>
      <p>Congrats to <span class="winnerHighlight">{{winnersString}}</span> for winning the Prediction Arena for the {{getOscarYear() | async}} films!
      <span *ngIf="showWinnerDetail()">They got <span class="winnerHighlight">{{singleFirstPlaceNumCorrectVotes | async}}</span> correct out of <span class="winnerHighlight">{{singleFirstPlaceNumVotes | async}}</span>.</span>
      </p>
    </div>

    <br>

    <div class="row">

      <div class="col-12 col-sm-6 col-lg-4"
           *ngIf="((systemVarsService.canVote() | async) || personService.isAdmin)">
        <div class="card navCard">
          <div class="card-body fakeLink"
               routerLink="vote">
            <div class="row">
              <div class="col-10 navTitle">
                <span>Submit Votes</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4"
           *ngIf="((systemVarsService.canVote() | async) === false || personService.isAdmin)">
        <div class="card navCard">
          <div class="card-body fakeLink"
               routerLink="scores">
            <div class="row">
              <div class="col-10 navTitle">
                <span>Live Scoring</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4"
           *ngIf="((systemVarsService.canVote() | async) === false || personService.isAdmin)">
        <div class="card navCard">
          <div class="card-body fakeLink"
               routerLink="winners">
            <div class="row">
              <div class="col-10 navTitle">
                <span>View Winners</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4">
        <div class="card navCard">
          <div class="card-body fakeLink"
               routerLink="history">
            <div class="row">
              <div class="col-10 navTitle">
                <span>History</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4"
           *ngIf="personService.isAdmin">
        <div class="card navCard fakeLink"
             routerLink="admin">
          <div class="card-body">
            <div class="row">
              <div class="col-10 navTitle">
                <span>Admin</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<ng-template #loading>
  <p>Loading from server...</p>
  <mat-spinner [diameter]="50"
               [color]="loadingColor"></mat-spinner>
</ng-template>
