@import "../../../variables";

.navCard {
  font-size: 24pt;
  margin-bottom: 10px;
  border-color: $highlight;
}

.navTitle {
  color: white;
}

.votesRemaining {
  color: lighten(forestgreen, 20%);
  font-weight: bold;
}
