<div class="container" *ngIf="isAdmin">

  <h3>Ceremonies</h3>

  <div class="row mt-1"
       *ngFor="let ceremonyYear of (ceremonyYearsView | async)">
    <div class="col-12 card ceremonyCard fakeLink">
      <div class="card-body py-0 px-3">
        <div class="row no-gutters">
          <div class="col-3">
            {{ceremonyYear.year}}
          </div>
          <div class="col-3">
            {{ceremonyYear.ceremonyName}}
          </div>
          <div class="col-3">
            {{ceremonyYear.numGroups}} groups
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
