@use 'sass:color';
@import '../variables';

.frontLogo {
  width: 100%;
  max-width: 1000px;
  height: auto;
  filter: drop-shadow(1px 1px 10px $black);
}

.centerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.signInButton {
  font-size: 2.5rem;
  font-weight: bold;
  border-color: black;
  border-width: 2px;
}
