<!-- src/app/app.component.html -->

<nav class="navbar navbar-expand navbar-default">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-left">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">
            <span style="font-size: 1em; color: LightGreen;"
                  *ngIf="showHealthySocketStatus() && socketConnected()">
              <i class="fas fa-check-circle"></i>
            </span>
            <span style="font-size: 1em; color: Tomato;"
                  *ngIf="!socketConnected()">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
            Home
          </a>
        </li>
        <li class="nav-item"
          *ngIf="!stillLoading() && auth.isUser() && (systemVarsService.canVote() || auth.isAdmin())">
          <a class="nav-link" routerLink="/vote">Vote</a>
        </li>
        <li class="nav-item"
            *ngIf="!stillLoading() && auth.isUser() && (!systemVarsService.canVote() || auth.isAdmin())">
          <a class="nav-link" routerLink="/scores">Scores</a>
        </li>
        <li class="nav-item"
            *ngIf="!stillLoading() && auth.isAdmin()">
          <a class="nav-link" routerLink="/odds">Odds</a>
        </li>
        <li class="nav-item"
            *ngIf="!stillLoading() && auth.isUser() && (!systemVarsService.canVote() || auth.isAdmin())">
          <a class="nav-link" routerLink="/winners">Winners</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right">
        <li class="nav-item"
            *ngIf="!auth.isAuthenticated()">
          <a class="nav-link" (click)="auth.login()">Login</a>
        </li>
        <li class="nav-item"
            *ngIf="auth.isAuthenticated()">
          <a class="nav-link" (click)="auth.logout()">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<main class="container wideContainer">
  <router-outlet></router-outlet>
</main>
