<!-- src/app/app.component.html -->

<nav class="navbar navbar-expand navbar-default navbar-dark bg-dark"
     *ngIf="(auth.isAuthenticated$ | async) && !auth.failedEmail && (me$ | async)">
  <div class="container">

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-left">
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async)">
          <a class="nav-link" routerLink="/">
            <span style="font-size: 1em; color: LightGreen;"
                  *ngIf="showHealthySocketStatus() && socketConnected()">
              <i class="fas fa-check-circle"></i>
            </span>
            <span style="font-size: 1em; color: $losingScoreColor;"
                  *ngIf="!socketConnected()">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
            Home
          </a>
        </li>
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async) && (systemVarsService.canVote() | async)">
          <a class="nav-link" routerLink="/vote">Vote</a>
        </li>
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async) && (systemVarsService.canVote() | async) === false">
          <a class="nav-link" routerLink="/scores">Scores</a>
        </li>
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async)">
          <a class="nav-link" routerLink="/history">Past</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right">
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async) === false">
          <a class="nav-link" (click)="auth.login()">Login</a>
        </li>
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async)">
          <a class="nav-link fakeLink" (click)="auth.logout()">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="oscarBackground h-100">

  <div class="h-100"
       *ngIf="(auth.isLoading$ | async) === false; else authenticating">
    <div class="h-100"
         *ngIf="auth.isAuthenticated$ | async; else loggedOut">
      <div class="h-100"
           *ngIf="(!failedEmail) else invalidUser">
        <div class="h-100"
             *ngIf="(me$ | async) else loading">

          <main class="container wideContainer">
            <router-outlet></router-outlet>
          </main>

        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #loggedOut>
  <div class="centerContainer">
    <osc-front-page-logo></osc-front-page-logo>
    <button class="btn btn-lg btn-success signInButton px-5 py-3"
            (click)="auth.login()">Sign In</button>
  </div>
</ng-template>

<ng-template #invalidUser>
  <div class="centerContainer">
    <osc-front-page-logo></osc-front-page-logo>
    <div class="textContainer">
      <p>No user account found for google address. Could your invite be for a different gmail address?</p>
      <button class="btn btn-lg btn-success signInButton p-2"
              (click)="auth.login()">Sign In</button>
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <div class="centerContainer">
    <osc-front-page-logo></osc-front-page-logo>
    <div class="textContainer">
      <p>Loading from server...</p>
      <mat-spinner [diameter]="50"
                   [color]="loadingColor"></mat-spinner>
    </div>
  </div>
</ng-template>

<ng-template #authenticating>
  <div class="centerContainer">
    <osc-front-page-logo></osc-front-page-logo>
    <div class="textContainer">
      <p>Logging in...</p>
      <mat-spinner [diameter]="50"
                   [color]="authenticatingColor"></mat-spinner>
    </div>
  </div>
</ng-template>
