<!-- src/app/app.component.html -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Oscars 2019</a>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="!stillLoading() && auth.isUser() && systemVarsService.canVote()"
        routerLink="/vote">
        Vote
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="!stillLoading() && auth.isAdmin()"
        routerLink="/odds">
        Odds
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
        Log In
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
        Log Out
      </button>

    </div>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>
