
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Oscars Prediction Arena!!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async) && (systemVarsService.canVote() | async)">
          <a class="nav-link" routerLink="/vote">Vote</a>
        </li>
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async) && (systemVarsService.canVote() | async) === false">
          <a class="nav-link" routerLink="/scores">Scores</a>
        </li>
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async)">
          <a class="nav-link" routerLink="/history">Past</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right">
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async) === false">
          <a class="nav-link" (click)="auth.login()">Login</a>
        </li>
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async)">
          <a class="nav-link fakeLink" (click)="auth.logout()">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
