
<nav class="navbar navbar-expand navbar-default navbar-dark bg-dark">
  <div class="container">

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-left">
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async)">
          <a class="nav-link" routerLink="/">
            Home
          </a>
        </li>
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async) && (systemVarsService.canVote() | async)">
          <a class="nav-link" routerLink="/vote">Vote</a>
        </li>
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async) && (systemVarsService.canVote() | async) === false">
          <a class="nav-link" routerLink="/scores">Scores</a>
        </li>
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async)">
          <a class="nav-link" routerLink="/history">Past</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right">
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async) === false">
          <a class="nav-link" (click)="auth.login()">Login</a>
        </li>
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async)">
          <a class="nav-link fakeLink" (click)="auth.logout()">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
