
<nav class="navbar navbar-expand-sm navbar-dark bg-dark py-0">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/navbar_logo.svg"
           width="150"
           height="auto"
           alt="{{ceremonyName}} Prediction Arena">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto align-items-end">
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async)">
          <a class="nav-link" routerLink="/" data-bs-toggle="collapse" data-target=".navbar-collapse.show">
            Home
          </a>
        </li>
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async) && (systemVarsService.canVote() | async)">
          <a class="nav-link" routerLink="/vote" data-bs-toggle="collapse" data-target=".navbar-collapse.show">
            Vote
          </a>
        </li>
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async) && (systemVarsService.canVote() | async) === false">
          <a class="nav-link" routerLink="/scores" data-bs-toggle="collapse" data-target=".navbar-collapse.show">
            Scores
          </a>
        </li>
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async) && showPast()">
          <a class="nav-link" routerLink="/history" data-bs-toggle="collapse" data-target=".navbar-collapse.show">
            Past
          </a>
        </li>
      </ul>

      <ul class="navbar-nav align-items-end">
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async) === false">
          <a class="nav-link" (click)="auth.login()">Login</a>
        </li>
        <li class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async)">
          <a class="nav-link fakeLink" (click)="auth.logout()">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
