<div class="row align-items-center">
  <div class="col-3 align-items-center totalOdds">
    {{totalOddsVegas() | number: '1.0-0'}}%
  </div>
  <div class="col-3 align-items-center totalOdds">
    {{totalOdds('expert')}}%
  </div>
  <div class="col-3 align-items-center totalOdds">
    {{totalOdds('user')}}%
  </div>
  <div class="col-3">
    <button class="btn btn-info"
            [disabled]="!hasChanges()"
            (click)="submitOdds()">
      Submit
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <button class="btn btn-success"
            *ngIf="prev"
            [routerLink]="['/', 'categories', prev.id]">
      Prev
    </button>

    <button class="btn btn-primary"
            routerLink="/categories">Up</button>

    <button class="btn btn-success"
            *ngIf="next"
            [routerLink]="['/', 'categories', next.id]">
      Next
    </button>
  </div>
</div>
