@import "../../../variables";

.scoreCard {
  font-size: 16pt;
  margin-bottom: 10px;
}

.otherScoreCard {
  border-color: $highlight;
}

.myScoreCard {
  background-color: darken($personal, 5%);
  border-color: lightgray;
  color: lightgray;
  font-size: 12pt;
}

.bottomRow {
  justify-content: right;
}

.myRank {
  font-weight: bold;
}

.scoreTitle {
  color: white;
  font-weight: bolder;
}

.scoreName {
  color: white;
}

.scorePoints {
  font-weight: bold;
  text-align: right;
}

.myScorePoints {
  color: white;
}

.otherScorePoints {
  color: $highlight;
}
