@use 'sass:color';
@import '../../../darkly_variables';
@import '../../../variables';

.frontLogo {
  width: 100%;
  max-width: 1000px;
  height: auto;
  filter: drop-shadow(0 0 7px $black) drop-shadow(0 0 12px $black);
}

.imageTextContainer {
  position: relative;
  text-align: center;
}

.yearLabel {
  position: absolute;
  bottom: -1.0%;
  right: 7%;
  width: 21%;
  height: 22%;
}

.yearText {
  text-align: right;
  fill: #C9A646;
  text-shadow: 1px 1px 0 white, 0 0 5px black, 0 0 10px black;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}
