@use 'sass:color';
@import '../../../darkly_variables';
@import '../../../variables';

.frontLogo {
  width: 100%;
  max-width: 1000px;
  height: auto;
  filter: drop-shadow(0 0 10px $black);
}

.imageTextContainer {
  position: relative;
  text-align: center;
}

.yearLabel {
  position: absolute;
  bottom: -1.0%;
  right: 14%;
  width: 17%;
  height: 20%;
}

.yearText {
  text-align: right;
  fill: #C9A646;
  text-shadow: 1px 1px 0 white, 0 0 10px black;
  font-family: "Futura Bk BT", sans-serif;
}
