@use 'sass:color';
@import "darkly_variables";

$highlight: #E6D36C;
$muted: #7799BB;
$personal: color.scale($pink, $lightness: -50%, $saturation: -25%);
$silver: #D0D6DE;
$winnerColor: color.scale(darkblue, $saturation: -50%);
