@use 'sass:color';
@import "darkly_variables_oscars";

$highlight: #E6D36C;
$muted: #7799BB;
$personal: color.scale($pink, $lightness: -50%, $saturation: -25%);
$silver: #D0D6DE;
$winnerColor: color.scale(darkblue, $saturation: -50%);
$winnerText: cornflowerblue;
$winningScoreColor: color.scale(forestgreen, $lightness: 10%, $saturation: -30%);
$losingScoreColor: tomato;
$oscarsGold: #C9A646;
