/* Importing Datepicker SCSS file. */
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker";


h1 {
  font-weight: bolder;
  font-family: "brandon-grotesque", sans-serif;
  font-variant-caps: small-caps;
}

h2 {
  font-weight: bolder;
  font-family: "brandon-grotesque", sans-serif;
  font-variant-caps: small-caps;
}

.fakeLink {
  cursor: pointer;
}

.mobileSnackBar {
  margin: 0 !important;
  position: absolute;
  left: 0;
  bottom: 60px;
  z-index: 10000 !important;
}

.redSnackBar {
  background-color: darkred;
  color: white;
}

.playerConnectSnackBar {
  background-color: rebeccapurple;
  color: white;
}

.cdk-overlay-container {
  z-index: 99999999999999;
}

html, body { height: 100%; }
body { margin: 0; }
