@import "darkly_variables_emmys";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "darkly_bootswatch";

.darkInput {
  color: #e1e8ef;
  background-color: $gray-900;
  box-shadow: inset 1px 1px 2px #000;
  border-color: $gray-700;
}
