@import "variables";
@import "darkly_variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "darkly_bootswatch";

h1 {
  font-weight: bolder;
  font-family: "brandon-grotesque", sans-serif;
  font-variant-caps: small-caps;
}

h2 {
  font-weight: bolder;
  font-family: "brandon-grotesque", sans-serif;
  font-variant-caps: small-caps;
}

.fakeLink {
  cursor: pointer;
}

.redSnackBar {
  background-color: darkred;
  color: white;
}

.playerConnectSnackBar {
  background-color: rebeccapurple;
  color: white;
}

.cdk-overlay-container {
  z-index: 99999999999999;
}

html, body { height: 100%; }
body { margin: 0; }
